/**{{header_comment()}}*/

namespace {{service_name}}.Messaging.{{namespace}};

public class {{message.name|first_upper}} : Message
{
    {%- for field in message.fields %}
    public {{field.type|convert_type}} {{field.name|first_upper}} { get; set; }
    {%- endfor %}
}
