/**{{header_comment}}*/

namespace {{service_name}}.DTO
{
    public class {{name|first_upper}}
    {
        {% for (type, name) in fields %}
        public {{type|convert_type}} {{name|first_upper}} { get; set; }
        {% endfor %}
    }
}
