/**{{header_comment()}}*/

namespace {{service_name}}.Repository.Contracts
{
    public interface I{{typedef}}Repository : IRepository<{{as_type(typedef)}}>
    {
        // custom repo methods
    }
}
