/**{{header_comment()}}*/

using {{service_name}}.Models;

namespace {{service_name}}.Repository.Contracts
{
    public interface I{{typedef}}Repository : IRepository<{{typedef}}>
    {
        // custom repo methods
    }
}
